name: Daily AI Report
on:
  schedule:
    - cron: '0 21 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          Python-version: '3.10'

      - name: Install dependencies
        run: pip install requests google-generativeai

      - name : Run Secretary
        env:
          NEWS_API_KEY: ${{ secrets.NEWS-API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          MY_EMAIL: ${{ secrets.MY_EMAIL }}
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
        run: python secretary.py  
